@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

.dropDown{
    box-sizing: border-box;
    width: 270px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 20px;
}

.dropDown > div{
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
    padding: 5px 0;
    /* border-radius: 5px; */
    margin-bottom: 5px;
    transition: all 0.7s;
    display: flex;
    border-bottom: solid #444444 2px;
}

.location{
    display: flex;
    flex-direction: column;
}

.fi-rs-marker{
    font-size: 1.7rem;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.poi{
    font-size: 1rem;
}

.address{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.dropDown > div:hover{
    border-bottom: solid rgb(33, 33, 33) 2px;
    cursor: pointer;
}
