@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');

.mainContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

nav{
    width: 100vw;
    height: 50px;
    background-color: #2c2b2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
    padding: 0 10px;
    box-sizing: border-box;
}

nav h1{
    font-weight: 300;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: all 0.5s;
}

nav a:hover{
    color: rgb(194, 190, 190);
}

nav i{
    font-size: 1.2rem;
}

.fi-bs-steering-wheel{
    font-size: 1.3rem;
}

.mapDiv{
    width: 100vw;
    height: calc(100vh - 50px);
    display: inline-block;
}

.searchBox{
    width: 300px;
    min-height: 235px;
    max-height: 70vh;
    background-color: #444444;
    position: absolute;
    border-radius: 5px;
    left: 20px;
    top: 15vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.scheduleDiv{
    width: 320px;
    height: 235px;
    background-color: #444444;
    position: absolute;
    border-radius: 5px;
    left: 20px;
    top: 15vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fi-sr-angle-circle-right{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.searchBox::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: rgb(47, 46, 46);
}

.searchBox::-webkit-scrollbar-thumb{
   background-color: gray;
   border-radius: 5px;
}

.searchBox h1{
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    margin-left: 15px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.searchInput{
    margin-top: 20px;
    background-color: rgb(57, 56, 56);
    /* border: solid white 2px; */
    border-bottom: solid rgb(163, 162, 162) 1px;
    border-radius: 5px 5px 0 0;
    outline: none;
    color: rgb(194, 190, 190);
    width: 250px;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: 'Poppins',sans-serif;
}

.searchInput:focus{
    background-color: rgb(47, 46, 46);
}

.searchBtn{
    font-size: 1rem;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.7s;
    border: solid white 1px;
    box-sizing: border-box;
}

.searchBtn:hover{
    color: white;
    background-color: #444444;
}

.bookingBtnDiv{
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scheduleBtn{
    background-color: transparent;
    font-size: 2rem;
    padding: 0;
    margin-top: 15px;
    color: white;
}

.time{
    font-size: 1.5rem;
    background-color: #363636;
    padding: 5px 20px;
    border-radius: 50px;
    color: rgb(180, 180, 180);
    margin-left: 10px;
}

.time:focus{
    border: 0;
    outline: none;
}

.fi-sr-time-check{
    font-size: 2rem;
    position: relative;
    /* margin-left: 10px; */
    border-radius: 100%;
    padding: 5px 10px 0 10px;
    cursor: pointer;
    transition: all 0.7s;
}

.fi-sr-time-check:hover{
    color: rgb(26, 26, 26);
}

.timeDiv{
    display: flex;
    justify-content: center;
}

.rideShare{
    background-color: #444444;
    border-radius: 5px;
    width: 300px;
    color: white;
    font-family: Poppins, sans-serif;
    position: absolute;
    left: 20px;
    top: 15vh;
    /* z-index: 3; */
    transition: all 1s;
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* transform: translateY(240px); */
    justify-content: space-between;
    /* align-items: center; */
}

.show{
    transform: translateY(240px);
}

.yesNo{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.yesNo i{
    cursor: pointer;
    transition: all 1s;
}

.fi-sr-cross-circle:hover{
    color: rgb(203, 69, 69);
}

.fi-sr-badge-check:hover{
    color: rgb(52, 167, 52);
}

.msgDiv{
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #444444;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: Poppins,sans-serif;
    border-bottom: solid red 2px;
    z-index: 2;
}

/* .mapboxgl-marker{
    transition: all 1s;
} */

@media only screen and (max-width: 500px){
    .searchBox, .scheduleDiv{
        width: 100vw;
        left: 0;
        top: 50px;
        border-radius: 0;
        /* align-items: flex-start; */
        padding-left: 15px;
    }

    .searchBox h1{
        margin-left: 0;
    }

    .rideShare{
        width: 100vw;
        left: 0;
        border-radius: 0;
        font-size: 1.5rem;
    }

    .yesNo{
        font-size: 2rem;
    }

    .mapDiv{
        top: 235px;
        position: absolute;
        height: calc(100vh - 235px);
    }

}