.register{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.register__logo{
    padding-top: 20px;
    padding-left: 20px;
}

.register__form{
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    height: 670px;
    z-index: 1;
    background-color: rgba(47,48,49,.2);
    position: relative;
    left: calc(50vw - 200px);
    top: calc(50vh - 400px);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.register__form__element > input{
    height: 30px;
    background-color: rgba(47,48,49,0);
    border: 0px;
    border-bottom: 2px solid black;
    border-radius: 3px;
    width: 280px;
    font-size: medium;
}

.username{
    margin-top: 10px;
}

.password{
    margin-bottom: 50px;
}

.register__buttons{
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}

input::placeholder{
    color: black;
    font-size: medium;
}

input:focus::placeholder{
    color: transparent;
}

input:focus{
    outline: none;
}

.register__form__title{
    margin-top: 20px;
    font-size: 35px;
    font-weight: 800;
}

.redirect__login{
    text-decoration: none;
    color: black;
}

.redirect__login:hover{
    text-decoration: underline;
}

input[type=submit]{
    border: 2px solid black;
    width: 160px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 200lvw;
    height: 40px;
}

input[type=submit]:hover{
    background-color: rgba(0, 0, 0);
}

.register__back__icon{
    display: flex;
    justify-content: flex-start;
}


.reg-msg{
    height: 15px;
    width: 100%;
    position: relative;
    left: 45vw;
    color: red;
}