
.pickDrop{
    width: 300px;
    min-height: 235px;
    max-height: 300px;
    position: absolute;
    left: 20px;
    top: 15vh;
    background-color: #444444;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickDrop > p:first-child{
    margin-top: 20px;
}

.pickDrop > p{
    margin: 5px;
}

.loadingGif{
    width: 100px;
    height: 100px;
}

figure{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

figcaption{
    position: absolute;
    bottom: 0;
    font-family: Poppins,sans-serif;
    color: white;
    font-size: 0.8rem;
}

.driverDetails{
    margin-top: 10px;
    background-color: #363535;
    width: 250px;
    height: 80px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Poppins, sans-serif;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.driverDetails > div{
    display: flex;
    flex-direction: column;
}

.driverDetails > div:first-child p{
    text-align: left;
}

.driverDetails > div:nth-child(2) p{
    text-align: right;
}


@media only screen and (max-width: 500px){
    .pickDrop{
        width: 100vw;
        left: 0;
        top: 50px;
        border-radius: 0;
    }
}